@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

:root
{
  --primary-color: #31708F;
  --primary-color-light: #89C5E8;
  --primary-color-dark: #1E4D69;

  --secondary-color: #4F85A5;
  --secondary-color-light: #F9E352;
  --secondary-color-dark: #003e66;

  --tertiary-color: #8FC1E2;
  --tertiary-color-light: green;
  --tertiary-color-dark: green;

  --text-light: white;
  --text-medium: #eaeaea;
  --text-dark: #242A36;

  --form-background: white;
  --form-input-background: #F4F4F4;
  --form-input-border: #DEDEDE;

  --link-light: #7EBBDA;
  --link-dark: #6693c4;

  --content-background-color: #F6F7F8;
  --body-color: #DAE0E6;

  --font-small: 16px;
  --font-medium: 20px;
  --font-large: 40px;
  --font-extra-large: 60px;
}

body
{
	background-color: var(--body-color);
}

article /* Never change this (Except height to 100% once content is added to pages) */
{
  height: 1000px; 
  width: 1080px;
  margin: 0 auto;
  background-color: var(--content-background-color);
}


/*
@media screen and (min-width: 320px)
{


  
}

@media screen and (min-width: 480px)
{
  


}

@media screen and (min-width: 768px)
{
  


}

@media screen and (min-width: 1024px)
{



}

@media screen and (min-width: 1280px)
{
 


}


@media screen and (min-width: 1920px)
{

} */


  /* Navigation */


  header
  {
    display: flex;
    background: var(--primary-color);
    width: 100%;
    height: 80px;
    margin: 0px 0px 0px 0px;
  }

  nav
  {
    height: 100%;
    width: 1080px;
    margin: auto;
    position: relative;
  }

  .nav-menu-links a
  {
    color: var(--text-light);
    text-decoration: none;
    text-transform: capitalize;
    font-size: var(--font-medium);
    cursor: pointer;
    height: 80px;
    display: inline-flex;
    padding: 25px 15px 25px 15px;
  }

  nav a:hover
  {
    transition: all ease-in-out 250ms;
    cursor: pointer;
    background-color: var(--secondary-color);
  }

  .nav-menu-logo img
  {
    height: 50px;
    width: 50px;
    float: left;
    margin: 15px 0px 15px 0px;
  }

  .nav-menu-logo
  {
    height: 100%;
    float: left;
  }

  .nav-menu-links
  {
    height: 80px;
    display: inline-flex;
    float: right;
  }

  .dropdown-menu
  {
    display: none;
    position: absolute;
    top: 80px;
    right: -100px;
    background-color: var(--form-background);
    height: auto;
    width: 300px;
    z-index: 5;
    border-radius: 5px 5px 5px 5px;
  }

  .dropdown-header
  {
    text-align: center;
    color: white;
    height: 20%;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 5px 5px 0px 0px;
    padding: 20px;
  }

  .dropdown-signin-fields
  {
    height: 80%;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
    background-color: var(--form-background);
  }

  .dropdown-signin-fields input
  {
    height: 40px;
    width: 100%;
    font-size: var(--font-small);
    padding: 0px 10px 0px 10px;
    margin: 0px auto 15px auto;
    background-color: var(--form-input-background);
    box-shadow: none;
    border: 1px solid var(--form-input-border);
  }

  .dropdown-signin-fields a
  {
    text-decoration: none;
    color: var(--link-dark);
    background-color: var(--form-background);
    height: auto;
    padding: 0px;
    font-size: var(--font-small);
    margin: 0px 0px 10px auto;
    float: right;
  }

  .dropdown-signin-fields a:hover
  {
    color: var(--link-light);
    background-color: var(--form-background);
  }

  .signin-account-button
  {
    background: var(--secondary-color);
    border-radius: 5px;
    color: var(--text-light);
    font-size: var(--font-small);
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    box-shadow: none;
  }

  .signin-account-button:hover
  {
    background: var(--secondary-color-dark);
  }

  .create-account-wrapper
  {
    display: inline-flex;
    text-decoration: none;
    color: var(--text-dark);
  }

  .create-account-wrapper a
  {
    color: var(--link-dark);
    background-color: var(--form-background);
    height: auto;
    padding: 0px;
    font-size: var(--font-small);
    margin: 0px 0px 0px 10px;
  }

  .dropdown-options
  {
    padding: 20px;
    height: auto;
    display: block;
  }

  .dropdown-options a
  {
    display: block;
    height: 100%;
    text-align: center;
    background: var(--primary-color);
    border-radius: 5px;
    color: var(--text-light);
    font-size: var(--font-small);
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 20px 0px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    box-shadow: none;
  }

  .dropdown-options a:hover
  {
    background: var(--primary-color-dark);
  }

  .dropdown-options hr
  {
    border: 1px solid var(--primary-color);
  }

  .dropdown-signout-form
  {
    height: 80%;
    border-radius: 0px 0px 5px 5px;
    background-color: var(--form-background);
    margin: 20px 0px 0px 0px;
  }

  .signout-account-button
  {
    background: var(--secondary-color);
    border-radius: 5px;
    color: var(--text-light);
    font-size: var(--font-small);
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    box-shadow: none;
  }

  .signout-account-button:hover
  {
    background: var(--secondary-color-dark);
  }


  /* Home Page */

  
  .slideshow-container 
  {
    width: 100%;
    height: 540px;
    position: relative;
    background-color: black;
    overflow: hidden;
  }

  .slideshow-image
  {
    width: inherit;
    height: inherit;
    position: absolute;
    transition: opacity 1s ease-in-out;
    opacity: 0; 
    height: inherit;
    overflow: hidden;
  }

  .slideshow-image img
  {
    height: inherit;
    width: inherit;
  }

  .search-container 
  {
    width: 80%;
    height: 300px;
    position: block;
    padding: 20px 20px 20px 20px;
    margin: 40px auto 40px auto;
    border-radius: 5px 5px 5px 5px;
  }

  .search-tab-container
  {
    width: 100%;
    display: inline-flex;
    border-radius: 5px;
  }

  .tab-selection
  {
    background-color: var(--form-background);
    color: var(--text-light);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
    font-size: var(--font-small);
    width: 33.33%;
    border-radius: 5px 5px 0px 0px;
  }

  .tab-selection:hover 
  {
    background-color: white;
  }

  .tab-content 
  {
    height: 200px;
    display: none;
    padding: 20px 20px 20px 20px;
    border-radius: 0px 0px 5px 5px;
  }

  .search-box 
  {
    width: 100%;
    padding: 20px 20px 20px 20px;
    align-items: center;
  }

  .search-field 
  {
    width: 100%;
    text-align: center;
  }

  .search-input 
  {
    height: 40px;
    width: 70%;
    font-size: var(--font-small);
    padding: 0px 10px 0px 10px;
    background-color: var(--form-input-background);
    box-shadow: none;
    border: 1px solid var(--form-input-border);
  }

  .search-button
  {
    background: var(--form-background);
    border-radius: 5px;
    color: var(--text-dark);
    font-size: var(--font-small);
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    width: 175px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: none;
    outline: none;
  }

  .search-button:hover 
  {
    background: var(--secondary-color-dark);
  }

  #player-tab
  {
    background-color: var(--primary-color);
  }

  #event-tab
  {
    background-color: var(--secondary-color);
  }

  #club-tab
  {
    background-color: var(--tertiary-color);
  }

  #player-content
  {
    background-color: var(--primary-color);
  }

  #event-content 
  {
    background-color: var(--secondary-color);
  }

  #club-content
  {
    background-color: var(--tertiary-color);
  }


  /* Profile Page */

  .player-details-border
  {
    width: 658px;
    display: inline-block;
    position: relative;
    left: 4.7%;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .player-details-border h1
  {
    color: var(--secondary-color-dark);
    margin-bottom: 20px;
  }

  .player-bio-list
  {
    position: relative;
    list-style: none;
    line-height: 1.3;
    display: inline-block;
    width: 75%;
  }

  #player-bio-row
  {
    padding: 7.5px 5px;
    border-top: 1px solid grey;
  }

  #player-bio-row-value
  {
    position: absolute;
    left: 80%;
  }

  .rating-border
  {
    display: inline-block;
    position: relative;
    height: 280px;
    width: 20%;
    margin-left: 4%;
  }

  .mean-border
  {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    width: 120px;
  }

  #side-colour-mean
  {
    width: 3px;
    position: absolute;
    bottom: 0;
    top: 0;
    background-color: var(--tertiary-color-dark);
  }

  #mean-value
  {
    font-size: var(--font-large);
  }

  .sd-border
  {    
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    width: 120px;
  }

  #side-colour-sd
  {
    width: 3px;
    position: absolute;
    bottom: 0;
    top: 0;
    background-color: orange;
  }

  #sd-value
  {
    font-size: var(--font-large);
  }

  .player-history-border
  {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    
  }

  .player-history-border h1
  {
    color: var(--secondary-color-dark);
    margin-bottom: 20px;
  }

  .player-history-border h2
  {
    color: var(--tertiary-color-dark);
    margin-bottom: 20px;
  }

  .player-history-table
  {
    margin-top: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
  }

  .player-history-table th
  {    
    padding: 20px 80px;
    color: var(--tertiary-color-dark);
  }

  .player-history-table td
  {
    padding: 20px 80px;
  }

  #odd-row
  {
    background-color: lightgrey;
  }

  #even-row
  {
    background-color: var(--content-background-color);
  }

  #player-history-view-more
  {
    float: right;
  }


  /* Register Modal */


  .register-modal-background
  {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .register-modal-content
  {
    width: 600px;
    height: 600px;
    background-color: var(--form-background);
    border-radius: 5px;
  }

  .register-modal-header
  {
    height: 20%;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 5px 5px 0px 0px;
    padding: 20px;
    position: relative;
  }

  .register-modal-fields
  {
    height: 80%%;
    width: 100%;
    padding: 40px;
    font-size: var(--font-small);
  }

  .register-modal-fields h2
  {
    color: var(--text-dark);
  }

  .register-modal-fields-wrapper
  {
    display: block;
  }

  .register-modal-fields hr
  {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px 0px 25px 0px;
  }

  .register-modal-fields input
  {
    height: 40px;
    font-size: var(--font-small);
    padding: 0px 10px 0px 10px;
    margin: 10px 0px 25px 0px;
    background-color: var(--form-input-background);
    box-shadow: none;
    border: 1px solid var(--form-input-border);
  }

  .register-modal-exit-button
  {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: var(--font-large);
    transform: rotate(45deg);
    cursor: pointer;
    color: var(--text-light); 
  }

  #create-account-button
  {
    background: var(--primary-color);
    border-radius: 5px;
    color: var(--text-light);
    font-size: var(--font-medium);
    margin: 0px 0px 0px 0px;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
  }

  #create-account-button:hover
  {
    background: var(--primary-color-dark);
  }

  .register-input-group-double input
  {
    display: inline-flex;
    width: 48%;
  }

  #input-given-name, #input-organisation, #input-password
  {
    float: left;
  }

  #input-family-name, #input-email, #input-confirm-password
  {
    float: right;
  }

  .confirm-terms
  {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    width: 100%;
    font-size: var(--font-small);
    color: var(--text-dark);
    margin: 10px 0px 20px 0px;
  }

  .confirm-terms a
  {
    text-decoration: none;
    color: var(--link-dark);
  }

  .confirm-terms a:hover
  {
    color: var(--link-light);
  }


  /* Upload Event Page */


  .event-form
  {  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .event-details-border
  {
    padding: 20px 20px 20px 20px;
  }

  .event-name
  {  
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/span 2;
  }

  #event-name
  {
    font-size: var(--font-small);
  }

  input[type="date"]::-webkit-inner-spin-button
  {
    opacity: 0;
  }
    
  input[type="date"]::-webkit-calendar-picker-indicator 
  {
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;
  }

  input[type="date"]::-webkit-calendar-picker-indicator:hover 
  {
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
    opacity: 0.8;
  }

  #event-date
  {
    font-size: var(--font-small);
  }

  .match-details-row
  { 
    display:flex;
    height:auto;
  }
  
  .match-details-column
  {
    flex: 33.33%;
    font-size:20px;
  }
 
  #submit
  {
    background: var(--primary-color);
    border-radius: 5px;
    color: var(--text-light);
    font-size: var(--font-small);
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
    text-decoration: none;
    width: 150px;
    cursor: pointer;
  }

  .event-details-header
  {
    margin: 0px 0px 20px 0px;
  }

  .event-field-input,.sport-type,.event-type
  {
    margin: 0px 0px 0px 0px;
    width: 200px;
    height:50px;
    padding: 0px 10px 0px 10px;
  }

  .match-details-header
  {
    margin: 5px 0px 0px 0px;
  }

  .match-field-input
  {
    margin: 20px 0px 0px 0px;
    width:200px; 
    height:50px;
    padding: 10px 0px 10px 10px;
    color: var(--text-dark);
  }

  .match-submit 
  {
    margin: 50px 0px 0px 0px;
    background: var(--primary-color);
    color: var(--text-light);
    width:200px;
    height:50px;
    border-radius: 5px;
    font-size: var(--font-small);
    display: none;
  }
  
  .match-number-input
  {
    margin: 20px 0px 0px 0px;
    background: var(--primary-color);
    color: var(--text-light);
    width:200px;
    height:50px;
    border-radius: 5px;
    font-size: var(--font-small);
  }

  .match-submit:hover
  {
    background: var(--primary-color-dark);
    color: var(--text-light);
  }
 
  .match-number-input:hover
  {
    background: var(--primary-color-dark);
  }

  .search-button
  {
    width:100px; 
    height:50px;
    margin: 20px 100px 0px 0px;
    background: var(--primary-color);
    color: var(--text-light);
    border-radius: 5px;
    font-size: var(--font-small);
  }

  .search-button:hover
  {
    background: var(--primary-color-dark);
  }

  .delete-button
  {
    width:100px; 
    height:50px;
    margin: 20px 10px 0px 10px;
    background-color:var(--primary-color);
    border-radius: 5px;
    color:white;
    font-size: var(--font-small);
  }

  .delete-button:hover
  {
    background-color:var(--primary-color-dark);
  }
  .add-button
  {
    display: none;
    margin: 50px 0px 0px 0px;
    background: var(--primary-color);
    color: var(--text-light);
    width:200px;
    height:50px;
    border-radius: 5px;
    font-size: var(--font-small);
  }

  .event-field-name, .winner-name,.loser-name, .match-date, .match-number-text
  {
    font-size: var(--font-medium);
  }

  .event-field-input::-webkit-input-placeholder
  {
    font-size: var(--font-small)
  }

  .sport-type::-webkit-input-placeholder
  {
    font-size: var(--font-small);
  }

  .event-type,.sport-type
  {
    font-size: var(--font-small);
  }

  .match-field-input
  {
    font-size: var(--font-small);
  }

  
  /* Footer */


  footer
  {
    background-color: var(--primary-color);
    height: 220px;
    width: 100%;
    font-size: var(--font-small);
  }

  footer a
  {
    display: block;
    text-decoration: none;
    color: var(--text-medium);
    margin: 0px 0px 10px 0px;
  }

  .footer-container
  {
    height: inherit;
    width: 1080px;
    margin: 0 auto;
  }

  .footer-container h2
  {
    font-size: var(--font-medium);
    color: var(--text-light);
    margin: 0px 0px 10px 0px;
  }

  .footer-top-content
  {
    width: 100%;
    display: inline-flex;
    margin: 30px 0px 10px 0px;
  }

  .footer-logo
  {
    display: block;
    width: auto;
    margin: 0 auto;
    margin-left: 150px;
  }

  .footer-logo img
  {
    height: 115px;
    width: 115px;
  }

  .footer-information
  {
    display: block;
    width: auto;
  }

  .footer-container a:hover
  {
    text-decoration: underline;
  }

  .footer-social-media
  {
    display: block
    width: auto;
    margin: 0 auto;
    margin-right: 150px;
  }

  .footer-bottom-content
  {
    display: block;
    width: 100%;
  }

  .footer-bottom-content hr
  {
    margin: 0px 0px 10px 0px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .footer-bottom-content small
  {
    color: var(--text-medium);
  }





  

